{% extends "base.html" %}

{% block title %}
Sign-Up
{% endblock %}

{% block body %}
<form action="/unit3/myblog/signup" method="post">
    <table>
    <tr>
        <td>
            <label>User Name</label>
        </td>
        <td>
            <input type="text" name="username" value="{{username}}">
        </td>
        <td>
            <div class="form-error">{{err_username}}</div>
        </td>
    </tr>
    <tr>
        <td>
            <label>Password</label>
        </td>
        <td>
            <input type="text" name="password" value="{{password}}">
        </td>
        <td>
            <div class="form-error">{{err_password}}</div>
        </td>
    </tr>
    <tr>
        <td>
            <label>Verified Password</label>
        </td>
        <td>
            <input type="text" name="vry_password" value="{{verify}}">
        </td>
        <td>
            <div class="form-error">{{err_vry_password}}</div>
        </td>
    </tr>
    <tr>
        <td>
            <label>E-mail (Option)</label>
        </td>
        <td>
            <input type="text" name="email" value="{{email}}">
        </td>
        <td>
            <div class="form-error">{{err_email}}</div>
        </td>
    </tr>
    </table>
    <input type='submit' value='Submit'>
</form>
{% endblock %}
